:root {
  --clr-bg-primary: #171717;
  --clr-bg-secondary: #191919;
  --clr-bg-nav: #212121;
  --clr-text-primary: #ffffff;
  --clr-accent: #f3b3c4;
  --clr-border: hsla(0, 0%, 25%, 0.4);

  --rounded-pill: 9999px;
  --rounded-24: 1.5rem;
  --rounded-40: 2.5rem;

  --screen-xs-min: 576px;
  --screen-sm-min: 768px;
  --screen-md-min: 992px;
  --screen-lg-min: 1200px;
  --screen-xl-min: 1440px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size-adjust: 0.52;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

:target {
  scroll-margin-block: 5ex;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/degular-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/degular-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/degular-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Degular", sans-serif;
  background-color: var(--clr-bg-primary);
}

#content {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  align-items: center;
}

.nav-links {
  margin: 0 auto;
  width: fit-content;
  border-radius: var(--rounded-pill);
  padding: 0.25rem;
  background-color: var(--clr-bg-nav);
  display: flex;
}

.nav-link {
  border-radius: var(--rounded-pill);
  padding: 0.625rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-text-primary);
  background: none;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  transition: background-color 0.4s ease;

  &:hover {
    background-color: var(--clr-bg-primary);
  }

  &.active {
    color: var(--clr-accent);
    background-color: var(--clr-bg-primary);
  }
}

.container {
  background-color: var(--clr-bg-secondary);
  width: 100%;
  margin-inline: auto;
  border-radius: var(--rounded-24);
  border: 1px solid var(--clr-border);
}

.container:has(.menu-list) > div {
  display: flex;
  flex-direction: column;
}

.container:has([data-reserve]) {
  padding: 1.5rem;

  .top-container {
    padding: 0;
  }
}

h1 {
  color: var(--clr-text-primary);
  font-size: clamp(2.25rem, 1.4423rem + 3.5897vw, 4rem);
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h2,
h3 {
  color: var(--clr-accent);
}

h2 {
  font-size: clamp(1.5rem, 1.2692rem + 1.0256vw, 2rem);
  margin-bottom: 1.25rem;
}

h3 {
  font-size: clamp(1.125rem, 0.9519rem + 0.7692vw, 1.5rem);
}

.btn-cta {
  border-radius: var(--rounded-pill);
  background-color: var(--clr-text-primary);
  padding: 0.75rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.top-container,
.bottom-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
}

.textbox {
  max-width: 27.75rem;

  p {
    color: var(--clr-text-primary);
  }
}

.textbox:has(button) {
  p {
    margin-bottom: 3.5rem;
  }

  button {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    background-color: #fff;
    font-weight: 500;
    transition: background-color 0.3s ease;

    svg {
      transform: translateY(-2px);
    }

    &:hover {
      background-color: var(--clr-accent);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

.top-img,
.bottom-img {
  border-radius: var(--rounded-24);
  border: 1px solid var(--clr-border);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20.8rem;
}

.top-img {
  background-position: right;
  background-image: url("./assets/img/sushi.webp");
}

.bottom-img {
  cursor: pointer;
  background-image: url("./assets/img/chef.webp");
  background-position: center;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;

  &:not(:last-child) {
    padding-bottom: 0;
  }

  h2 {
    margin: 0;
  }
}

.menu-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.menu-list-item {
  font-size: clamp(1rem, 0.9288rem + 0.3165vw, 1.125rem);
  color: #bcbcbc;
  padding-block: 1.25rem;

  &:not(:last-child) {
    border-bottom: 1px solid var(--clr-border);
  }
}

.contact-cont {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--clr-bg-primary);
  padding: 1.5rem;
  border-radius: var(--rounded-24);
  border: 1px solid var(--clr-border);

  > div {
    display: flex;
    gap: 0.75rem;
  }
  a {
    color: var(--clr-text-primary);
    font-size: clamp(1rem, 0.9288rem + 0.3165vw, 1.125rem);
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: #c9c9c9;
    }
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;

  h3 {
    margin: 0;
  }

  p {
    color: #bcbcbc;
  }
}

.map-img {
  margin-top: 2.5rem;
  border-radius: var(--rounded-24);
  width: 100%;
  height: 20rem;
  background-image: url("./assets/img/map.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

@media (min-width: 992px) {
  #content {
    padding: 0 4rem;
  }

  h1 {
    margin-bottom: 4rem;
  }

  header,
  .container {
    max-width: 1140px;
  }

  header {
    margin-inline: auto;
    margin-bottom: 4rem;
    gap: 2rem;
  }

  .container {
    min-height: 48.8rem;
    border-radius: var(--rounded-40);
  }

  .container:has(.menu-list) > div {
    flex-direction: row;
  }

  .container:has([data-reserve]) {
    padding: 2rem 2.5rem 0 2.5rem;

    .top-container {
      padding: 0;
    }
  }

  .top-container {
    padding: 2rem 2.5rem 0 2.5rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .top-container,
  .bottom-container {
    align-items: center;
  }

  .bottom-container {
    flex-direction: row-reverse;
    justify-content: start;
    gap: 4rem;
    padding: 0 2.5rem 2rem 2.5rem;
  }

  .top-container {
    margin-bottom: 3.25rem;
  }

  .top-img,
  .bottom-img {
    border-radius: var(--rounded-40);
    width: 38.25rem;
    min-width: 28rem;
    height: 20.8rem;
    background-position: center;
  }

  .column {
    gap: 2.5rem;
    padding: 2.5rem;
  }

  .contact-cont {
    padding: 2.5rem;
    border-radius: var(--rounded-40);
  }

  .info-container {
    flex-direction: row;
    justify-content: space-between;

    div:first-child {
      max-width: 17rem;
    }

    div:last-child {
      text-align: right;
    }
  }

  .map-img {
    background-position: center;
  }
}

@media (min-width: 1440px) {
  header,
  .container {
    max-width: 1320px;
  }
}
